doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lista de Usuarios
    link(rel="stylesheet", href="/css/style.css")

  body
    include header
    h1 Lista de Usuarios

    .card-container
      each usuario in usuarios
        .card
          h2= usuario.nombre + ' ' + usuario.apellidos
          p
            strong Email:
            | #{usuario.email}
          p
            strong Rol:
            | #{usuario.rol}
          button.btn-edit(onclick=`location.href='/user/edit/${usuario.id}'`) Editar
          button.btn-delete(onclick=`deleteUser(${usuario.id})`) Borrar
        
    include footer 
    // Scripts
    script(src="index.js")
    script(src="/js/script.js")
